* {
/*	border: 1px solid rgba(0, 0, 0, 0.3);*/
}
body {
	background-color: white;
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
@font-face {
	font-family: "Quicksand";
	src: url("/lib/Quicksand.otf") format("woff2"),
}
a:link {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;	
	color: black;
}
a:visited {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;	
	color: black;
}
a:hover {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: black;
}



.draggablex {
	display: inline-block;
	border-radius: 50%;
	width: 19.5%;
	height: 19.5%;
}
.draggablex img {
	width: 100%;
}
.draggablex:hover {
	cursor: pointer;
}
.draggabley {
	display: inline-block;
	border-radius: 50%;
	width: 19.5%;
	height: 19.5%;
}
.draggabley img{
	width: 100%;
}
.draggabley:hover {
	cursor: pointer;
}
#banner {
	position: absolute;
	padding-top: 60%;
	text-align: center;	
	left: 0;
	right: 0;
	z-index: 10;
}



@media only screen and (max-width : 500px) {
	.draggablex {
		width: 49%;
	}
	.draggabley {
		width: 49%;
	}
}
