* {
/*	border: 1px solid rgba(0, 0, 0, 0.3);*/
}
body {
	background-color: white;
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
@font-face {
	font-family: "Quicksand";
	src: url("/lib/Quicksand.otf") format("woff2"),
}
a:link {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;	
	color: black;
}
a:visited {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;	
	color: black;
}
a:hover {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: black;
}



#logo {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
	height: 20vh;
	left: 60vw;
	top: 50vh;
}
#logo img {
	width: 100%;
}
#logo-text {
	position: absolute;
	padding-top: 140%;
	z-index: 10;
}
#logo-text-p {
	text-align: center;
}



.draggablex {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
	height: 20vh;
}
.draggablex img{
	width: 100%;
}
.draggabley {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vw;
	height: 20vh;
}
.draggabley img{
	width: 100%;
}
.drag-textx {
	position: absolute;
	padding-top: 140%;
	z-index: 10;
}
.drag-textx p {
	text-align: center;
}
.drag-texty {
	position: absolute;
	padding-top: 0;
	padding-left: 170%;
	z-index: 10;
}
.drag-texty p {
	text-align: center;
}
#drag1 {
	left: 20vw;
	top: 50vh;
}
#drag2 {
	left: 30vw;
	top: 50vh;
}
#drag3 {
	left: 40vw;
	top: 50vh;
}
#drag4 {
	left: 50vw;
	top: 50vh;
}
#drag5 {
	left: 70vw;
	top: 10vh;
}
#drag6 {
	left: 70vw;
	top: 30vh;
}
#drag7 {
	left: 70vw;
	top: 50vh;
}
#drag8 {
	left: 10vw;
	top: 50vh;
}
