* {
    box-sizing: border-box;  /* for packery and draggable */
/*	border: 1px solid rgba(0, 0, 0, 0.3);
*/}
body {
	background-color: #ffffff;
	color: #4c4c4c;
	font-family: "Lato-Regular", sans-serif;
	font-size: 1.2em;
}
h1 {
    color: #4c4c4c;
    font-family: "NewsCycle-Bold", sans-serif;
}
@font-face {
	font-family: "lib/NewsCycle-Bold";
	src: url("NewsCycle-Bold.ttf");
}
@font-face {
	font-family: "lib/Lato-Regular";
	src: url("Lato-Regular.ttf");
}
a:link {
	font-family: 'Lato-Regular', sans-serif;
	text-decoration: none;	
	color: #0666bc;
}
a:visited {
	font-family: 'Lato-Regular', sans-serif;
	text-decoration: none;
	color: #0666bc;
}
a:hover {
	font-family: 'Lato-Regular', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #0666bc;
}



.grid {
    width: 100%;
    height: 100%;
}
.grid:after {  /* clear fix */
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    float: left;
    width: 250px;
    height: 250px;
    background: #d3c8ae;
    border: 6px solid #ffffff;
}
.grid-item--width2 {
    width: 500px;
}
.grid-item--width3 {
    width: 750px;
}
.grid-item--height2 {
    height: 500px;
}
.grid-item:hover {
    border-color: #d3d3d3;
    cursor: move;
}
.grid-item.is-dragging .grid-item.is-positioning-post-drag {
    background: #d3d3d3;
    z-index: 2;
}
.packery-drop-placeholder {
    outline: 3px solid #d3d3d3;
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}



.title {
    width: 100%;
    height: 100%;
    background: #0666bc url('images/figs_logo01.png') no-repeat center;
    background-size: 90% 80%;
    margin: auto;
    -webkit-transition: background 1.2s ease-in-out;
    -moz-transition: background 1.2s ease-in-out;
    -o-transition: background 1.2s ease-in-out;
    transition: background 1.2s ease-in-out;
}
.title:hover {
    background: #0666bc url('images/figs_logo02.png') no-repeat center;
    background-size: 90% 80%;
}
.text {
    border-style: double;
    text-align: justify;
    padding-top: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.link {
    widows: 100%;
    height: 100%;
    background: url('images/figs_gallery01.jpg');
    background-size: 100% 100%;
    cursor: pointer;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}
.link:hover {
    background: url('images/figs_gallery02.jpg');
    background-size: 100% 100%;
}
.grid-item img {
    position:absolute;
    width: 100%;
    height: 240px;  /*very klugy just to work when image is always one block high*/
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}
.grid-item img.top:hover {
    opacity: 0;
}
.grid-item--width3 img {
    width: 100%;
    height: 100%;
}